In [155]:
import requests
import json
import pandas as pd

url = "https://uk.api.just-eat.io/restaurants/bypostcode/w1b2el"
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36',
    'referer': 'https://fonts.googleapis.com/'
}
result = requests.get(url, headers=headers)
y = json.loads(result.content.decode())

In [156]:
def return_Cuisine(list1):

    c = []
    b = 0
    for i in list1:
        
        if i['IsOpenNowForDelivery'] == True:
            b+=1
            
            c.append(i['Cuisines'])

    print(b)
    return c

In [157]:
restaurant_key = y['Restaurants']

In [158]:
a = return_Cuisine(restaurant_key)

591

In [159]:
df = pd.DataFrame(a) # transform Cuisines to df

In [16]:
# Do on purpose to raise this error

df = pd.DataFrame(a, columns =['col1', 'col2', 'col3', 'col4', 'col5', 'col6'])

ValueError: 6 columns passed, passed data had 4 columns

In [160]:
df = pd.DataFrame(a, columns =['col1', 'col2', 'col3', 'col4']) #add cols

In [161]:
json_struct = json.loads(df.to_json(orient="records"))    
df_flat = pd.json_normalize(json_struct)

In [162]:
df5 =df_flat.drop(['col3', 'col4', 'col2', 
                    'col1.SeoName', 'col2.SeoName',
                    'col3.Name', 'col3.SeoName',
                    'col4.Name', 'col4.SeoName'],
                    axis=1
                    )

In [163]:
df6 = df5.copy() # Save Cuisines dataframe

In [164]:
def return_IsDelivering_RS(list1):
    a = []
    b = 0
    for i in list1:
        
        if i['IsOpenNowForDelivery'] == True:
            b+=1
            a.append(f"{i['Name']}")
            #b+=1
    print(b)
    return a

In [165]:
s = return_IsDelivering_RS(restaurant_key)

591

In [166]:
s

['Tops Pizza',
 'Thunderbird Fried Chicken – Charing Cross',
 'Fresh Gourmet Pizza',
 'Chipotle Mexican Grill - Upper St Islington',
 'Iro Sushi - Camden',
 'KFC Tottenham Court Road',
 'JOE & THE JUICE - Berkeley Street',
 'Franco Manca - Soho',
 'MEATliquor - W1',
 'al arez south ken',
 'PHAT Buns - Baywater',
 "McDonald's® - Oxford Street",
 'Drip Drop House',
 "Sainsbury's - Great Portland St Local",
 'Alibaba',
 'Abla - Great Portland Street',
 'Burger King - Tottenham Court Road',
 'Lahori Church Street',
 'Pizza & Chicken Zone',
 'Bishops Food and Wine',
 'Co-op - Strand',
 'German Doner Kebab - Shaftsbury Avenue',
 '110% Grill & Juice',
 'Chicken Cottage - Paddington (Praed Street)',
 'Taco Bell - London Baker Street',
 'We Drinks Cash & Carry 24/7 Ltd',
 'Sagar Vegetarian',
 'Taj Marylebone',
 'I&J Drinks',
 'Al Basha',
 'MAIN CHICK',
 'Alcohol world 247 ltd limited',
 'ME Kebab',
 'I&J Drinks - FULHAM',
 'Londis - Park Lane',
 'Dan Good Burger',
 'Brazilian Gourmet',
 'Falafel & Juice Bar',
 'Mumtaz Restaurant',
 'Fat Fellas',
 'Subway -Harewood Place',
 'AROUS DIMASHIQ',
 'N1 Grill',
 'Marathon Kebab House',
 'Fatboy Pizza',
 'Beirut Garden',
 'Chicken Shop - Soho',
 'Shishawi',
 'Baraka Piri Piri',
 'Vegan Planet',
 'Lahore Grill',
 'JRK Kitchen',
 'Zizzi - Wigmore Street',
 'Survivor Caribbean Restaurant & Takeaway',
 "Wendy's - Camden",
 'Pizza Guys',
 'Creams - Marble Arch',
 'Tennesseeland Chicken & Ribs',
 'SIP UP @ Baker Street',
 'South China',
 'HALA WALA',
 "Rio's Piri Piri - Marylebone",
 'The Greek Kitchen',
 'Square Bubbles - Edgware Road',
 'The Indian Box',
 'PaStation',
 'Chipotle Mexican Grill - Charing Cross',
 "Frankster's",
 'Hiba Street',
 'Eggsquisite - Paddington',
 'Sussex Fish Bar - Paddington',
 'Jollibee - Leicester Square',
 'The Pine Restaurant',
 "Malic's Peri Peri",
 'Chai Thali',
 "Domino's - London - Foley Street",
 'Urban Doner Kebab',
 'King Rooster - Kings Cross',
 'Apna Adda',
 'Taj Mahal',
 'Chicken Hub - Holborn',
 'Al Bustan restaurant',
 'Drummond Villa',
 'Bubbleology - Soho',
 'Chicken Valley',
 'Slim Chickens - Bond Street',
 'Soor',
 'Forno Pizza',
 'Wing - Wing Charing Cross',
 'Five Guys - Oxford Circus',
 'Wicked Burger - Paddington',
 'Taj Mahal Indian Tandoori',
 'Oodles Chinese - Holborn',
 'New Milano Pizza',
 'Yumi Bubble Tea',
 'Raavi kebab',
 'New York Pizza',
 'CRISPIES - Harrow Road',
 'Fusion Grill',
 'Al-Dar Lebanese Restaurant',
 'Tavuuk Gemuse Doner',
 'Big Ben Pizza',
 'Asian Noodle Bar',
 'Wasabi - 293 Oxford Street',
 "Andy's Greek Taverna",
 'Gokyuzu - Kentish Town',
 'Peri Peri Chicken',
 'Hiba Lebanese Restaurant',
 'Fireaway designer pizza - Kensington',
 'Treatz - Camden',
 'Al Arez Express Cafe And Juice',
 'Shanghai Express',
 'London Chinatown Restaurant',
 'ISLINGTON KEBAB HOUSE',
 'The Sushi Co - Marylebone',
 'Cafe Helen',
 'Starbucks - St Pancras International Station',
 'Tops Pizza - Maida Vale',
 'Chaiiwala® - Holborn',
 'Micky’s Fish and Chips',
 'Arancina',
 'Holbunz',
 'Pizza Express - London - Barrett Street',
 'Super Smash - Paddington',
 'Canton Element',
 'Indian Kitchen',
 'Al Dente',
 'Pizza Hut Restaurants - Piccadilly',
 'Milkman London',
 "Sticks'n'Sushi - Soho",
 'All Seasons Restaurant',
 'Kakki Katsu',
 'ICCO Pizza - Camden',
 'Tennesseeland Pizza & Grill',
 'Masala King',
 'Bursa Kebap Evi',
 'Wok and Fire - Camden',
 'Tuk Tuk Pan Asian',
 'Marugame Udon - Oxford Circus',
 'Pitaya Thai Street Food',
 'Chicken Kitchen',
 'Beirut',
 'Gourmet Burger Kitchen - Brunswick',
 'POKAI - Marylebone',
 'Gallipoli Again',
 'Pasta Evangelists',
 'Honi Poke - Marylebone',
 'Kebab Empire',
 'Gourmet Sushi',
 'Caribbean Delight',
 'Maharaja Indian Restaurant',
 'Neat Burger - Soho',
 'Papa Johns - Holborn',
 'Bab Mansour',
 'Pizza GoGo - Camden',
 'Kichn',
 'Mayyil-Lebanese On The Go',
 'Hobsons Fish and Chips (Soho)',
 'The Pizza Club Kilburn',
 'The Skewer',
 'Pinkberry',
 'The Seashell Of Lisson Grove',
 'Ding Tea',
 "Mr Chan's",
 'Grill Rock',
 'Wok And Fire',
 'Taste Of India',
 'Papillon Grill',
 'Chicken Hub - Paddington',
 'Yatri Indian Restaurant',
 'ASK ITALIAN - Spring Street',
 'Beer + Burger Store - Kings Cross',
 'Queen Of Sheba',
 'Taste of Lahore - Marble Arch',
 'Altonapoli Restaurant',
 "Lord's Burger and Pizza",
 'Mr Chinese',
 "Oli's Fish & Chips",
 'Holy Cow - Angel',
 'Irresistiball Falafel and Mezze',
 'The Kati Roll Company',
 'Lucky Cat - Brixton',
 'Namaste @ OMNOM',
 'Mem & Laz Brasserie',
 'Nonna Selena Pizzeria',
 'Lucky Cat',
 "JoJo's Grill & Pizza",
 'BRGR LDN',
 'Smoky Boys - Marylebone',
 'Flavour of India',
 'Grab Burger',
 'The Chambeli Indian Restaurant',
 'La Ballerina',
 'Bunify',
 'Strand Tandoori',
 'Nonos',
 '4 Seasons',
 'Two Point Thai Restaurant',
 'Trattoria Verdi',
 'Agra Restaurant',
 'Camden Tandoori Restaurant',
 'Elite Peri Peri - Kings Cross',
 'Kish Restaurant',
 'Hungry Kitchen - Chinese',
 'Porter Burger',
 'Sushi Shop - Marylebone',
 'Pret A Manger - West One',
 'Masgouf',
 'LebanEats Mayfair',
 'Battersea Fish Bar',
 'The Gourmet Oriental',
 'Soor Lebanese - Harrow Road',
 'Colbeh Persian Cuisine',
 'Red Spice',
 'Pizza Roma Kensington',
 'Hot Take',
 'Kensington Express',
 'Shahs halal food',
 "Oddono's South Kensington",
 'Myths & Flames',
 'Sadaf Restaurant',
 'Pame Greek',
 'Yalla Yalla - Winsley Street',
 'Grilandia',
 'Chrakhan Restaurant-',
 'Biryani Kebab Chai - Marble Arch',
 'Koox Organic Juices - Soho',
 'Diba - Marylebone',
 'I&J DRINKS LTD - Camden',
 'Doner Turm',
 'Street News',
 'Paradise Pizza',
 'AL KABABGI MEZZE&GRILL',
 'SUSHI POINT',
 'De Milano Pizza',
 'Guilty Dog',
 'Flamino',
 'Cheatmeals Goodge Street',
 'Pizza 2 Night',
 'Ozuki',
 'Biryani Kebab Chai - Soho',
 'Best Kebabs',
 'Fire & Spice Indian Restaurant',
 'German Doner Kebab & Grill',
 'Yole - Piccadilly',
 'Marylebone Spice',
 'Don Pepe',
 'Food & Wine',
 'Vape Bar @ Al Farabi',
 'French Tacos - Harrow Rd',
 'Bargain Booze Plus',
 'Little Red Spice Kebabs & Wings',
 'Vape Bar - Vaporz and shisha',
 'Rossopomodoro - Camden',
 'Steak & Beef Dogs',
 'You Me Sushi - Marylebone',
 'Juice & Sweet',
 'Upper Crust - Charing Cross',
 "Chicago's Pizza",
 'Best Taste Caribbean Takeaway',
 'Chalk Farm Grill',
 'Getir - Marylebone',
 'Basilico - Crawford Street',
 'The Red Pepper',
 'Patty Guy - CAMDEN',
 'All Day Mini Mart',
 'Hong Thai',
 'Zonzo Restaurant',
 'Terrace Turkish Kitchen',
 'I am Döner - Camden',
 'China Palace',
 'Khuttar Restaurant',
 'London Drinks Hub',
 'The Real Greek - Soho',
 'Chilli Flames - Kentish Town',
 'Steak & Beef Dogs',
 'Gusto Pizza (Maida Vale)',
 'Pimlico Tandoori',
 'Moozaks French Tacos',
 'Sadaf Garden',
 'I&J DRINKS LTD - York Way',
 'La Delizia 1986',
 'Quick Slice Pizza',
 'Dim Dum - Paddington',
 'Just Yuca by Under One Kitchen',
 'Supreme Doner Kebab',
 'La Pomodoro',
 'Diba Chelsea',
 'Amison Kiosk',
 'Meeting Noodles',
 'Depa Tandoori Restaurant',
 'Coco di Mama Kitchens - Spring Street',
 'Tulsi Food And Wine',
 'Basic Mart',
 'Baker Kiosk',
 'Efes Restaurant & Bar',
 'Spice of India',
 'Sainath News',
 'Berberè Pizzeria - Kentish Town',
 'Kish Lounge - Breakfast & Dessert',
 'Doner Bites',
 'Basic Mart',
 'La Pastaia',
 'Fat Hippo - Soho',
 "General Bilimoria's Canteen - Cleveland Street",
 'Caffè Nero - Frith St',
 'VAPE BAR - Edgware Road / Paddington',
 'Temple Bar',
 'Beiteddine Express',
 'BOOZE DRINK RUNNER - E1W 2BX',
 'All Season Food',
 'Tortilla  - Soho',
 'GAARDZ',
 'Yamany Corner',
 'Seventeen',
 'The Kebab Shop',
 'Blue Garden Restaurant Bar',
 'Bonzai London',
 'I&J DRINKS LTD - The Highway',
 'BK News',
 'Station Food and Wine',
 "DUNKIN' - Wardour St",
 '24/7 Alcohol Delivery',
 'Protein Pizza - Crawford street',
 'Kentish Delight',
 'Maharani - Camden',
 'Rajs Corner Shop',
 'Tandis',
 'Wynford Supermarket',
 'FIRIN',
 'Cafe De Nata - Soho',
 'Chick N Bun - CAMDEN',
 'Adan Hand Crafted Pasta And Wine',
 'Nisa Local',
 'Londel',
 "Fora Restaurant St John's Wood",
 'Wraps & Wings - Paddington',
 'Acacus Restaurant',
 'I&J DRINKS - BATTERSEA',
 'Mira',
 'Quick Pick Food And Wine',
 "Sizzle'd Peri Peri Chicken",
 'Diwan',
 'Downtown Pizza',
 'Al Khalil',
 'Papa Nadox Kitchen',
 'Homeslice - Marylebone',
 'Halia Restaurant@Grand Plaza Hotel',
 'Abbey Road Groceries',
 'Portobello store',
 'Arabesque',
 'Go-Go-Gourmet Pizza',
 'Döner Shack - Baker Street',
 'Jouri',
 'House of Kebab',
 'Grand Bazaar',
 'Suga Shack',
 'Gordon Ramsay Street Burger - Charing Cross Road',
 'Loaded Wraps - Victoria',
 'Ice Cream & Dessert Shop',
 'Indian Kitchen Restaurant & Takeaway',
 'Oriental Dragon Restaurant',
 'Booze drink runners',
 'Indian Veg Bhelpoori House',
 'Mr Shawarma',
 'Wafflemeister',
 'Burger Turm',
 'Kish Express',
 'Crazy Vegan Sushi - Marylebone',
 'Casa Mia',
 'Kings Cross Tandoori',
 'Far East Restaurant',
 'Filthy Feathers Chicken Shop',
 'Cloud cafe',
 'London Alcohol Vapes And Cigar Delivery',
 'London Liquor Limited',
 "Millie's - Paddington",
 'I Scream for Dessert',
 'Holy Bagel - Paddington',
 'Caledonian General Store',
 'Cumberland Food and Wine',
 'Selene Bar and Kitchen',
 'Prezzemolo & Vitale - Notting Hill',
 'Antalya Restaurant - London',
 'LebanEats Holborn',
 'Gorillas - Marylebone',
 "Carluccio's - South Kensington",
 'Appleberry Foods',
 'I&J DRINKS LTD - East London',
 'Kanishka by Atul Kochhar',
 'Central Food & Wine',
 "D'Arblay Tabac",
 'Heddon Street Kitchen by Gordon Ramsay Piccadilly',
 'Shaftesbury Food and Wine',
 'Amjadia Indian Restaurant',
 'Macellaio RC - Soho',
 'Food and Drinks 24/7',
 'Charing Cross Food & Wine',
 'Al Hamra',
 'ODEON Leicester Square',
 'Cold Stone Creamery - Leicester Square',
 'Milkman Bubble Tea - Euston',
 "All Bar One - Villier's Street",
 'Baker Street News & Convenience',
 'Plan Burrito - Southampton Row',
 "The Wellington - Nicholson's",
 'Mine Mané',
 'Bloomsbury Food And Wine',
 'Victoria News',
 'Febe Restaurant',
 'Foodwise Express',
 'Yi Fang Fruit Tea - Holborn',
 'Kitchen8',
 'Brent Cross Drinks Snacks/Vapes Cigar /Alcohol',
 'Eureka Newsagents',
 'Mediterraneo',
 "Smoke 'N' Buns @ Camden Head",
 'Jamon Jamon',
 'Jasmine News',
 'Pizza Warehouse',
 'Get Drinks In 17 Minutes',
 'Bite Me Burger - Party Boxes',
 'Masgouf',
 'East London Alcohol Delivery',
 'I scream for desserts',
 'BOOZE DRINK RUNNER W3 8DJ',
 'Vegan Wok',
 'Alcohol Delivery London',
 'S AND J Drinks',
 'Whiskey Tipsy 24/7 Ltd',
 'Moonlight Spirit 24 7 LTD',
 'GREENWICH ALCOHOL VAPES & CIGAR DELIVERY',
 'CROYDON ALCOHOL DELIVERY',
 "Premier - Purvis' News",
 'Appleberry Foods',
 'KFC Leicester Square',
 'KFC Baker Street',
 'KFC Paddington',
 'KFC Edgware Road',
 'KFC London - Kings Cross',
 'KFC Mornington Crescent',
 'KFC Camden - High Street',
 'KFC - London - Queensway',
 'KFC Gloucester Road',
 'JOE & THE JUICE - 44 Kensington High Street',
 'Franco Manca - Tottenham Court Road',
 'Franco Manca - Baker Street',
 'Franco Manca - Covent Garden',
 'Franco Manca - Russell Square',
 'Franco Manca - Holborn',
 'Franco Manca - Aldwych',
 'Franco Manca - Kings Cross',
 'Franco Manca - South Kensington',
 'Franco Manca - Westbourne Grove',
 'Franco Manca - Islington',
 'Franco Manca - Kentish Town',
 'MEATliquor - Queensway',
 "McDonald's® - 185 Oxford Street",
 "McDonald's® - Shaftesbury Avenue",
 "McDonald's® - 8 Oxford Street",
 "McDonald's® - Cambridge Circus",
 "McDonald's® - Leicester Square",
 "McDonald's® - Warren Street",
 "McDonald's® - Baker Street",
 "McDonald's® - Holborn",
 "McDonald's® - Edgware Road",
 "McDonald's® - Victoria",
 "McDonald's® - Paddington",
 "McDonald's® - Kings Cross (York Way)",
 "McDonald's® - Camden",
 "McDonald's® - Queensway",
 "Sainsbury's - Westminster Marble Arch Local",
 "Sainsbury's - London Euston Regents Place",
 "Sainsbury's - Westminster Edgware Road Local",
 "Sainsbury's - Clerkenwell Rd Loc",
 "Sainsbury's - Waterloo Rd Loc",
 'Burger King Leicester Square',
 'Burger King Kingsway',
 'Burger King - Marylebone Station',
 'Burger King Kings Cross',
 'Co-op - London - 275 Grays Inn Road',
 'Co-op - Caledonian Road',
 'Co-op - Kentish Town',
 'German Doner Kebab - Covent Garden',
 'German Doner Kebab - Holborn',
 'German Doner Kebab - Edgware Road',
 'German Doner Kebab - Camden',
 'Taco Bell - Holborn',
 'Taco Bell - Edgware Road',
 'Taco Bell - Camden',
 'Londis - Dorset House',
 'Londis - Albany Street',
 'Londis - Vauxhall Bridge',
 'Londis - Lords',
 'Subway® Oxford St',
 'Subway - Lansdowne Mayfair',
 'Subway® Tottenham Court Road',
 'Subway -Baker Street',
 'Subway Embankment',
 'Subway - Paddington',
 'Subway® - 4 Camden Road',
 'Subway - Queensway',
 'Chicken Shop - Baker Street',
 'Chicken Shop - Camden',
 'Chicken Shop - Upper Street',
 'Chicken Shop - Notting Hill',
 'Zizzi - St Giles',
 'Zizzi - Bow Street - Covent Garden',
 'Zizzi - The Strand',
 'Zizzi - Victoria',
 'Zizzi - Paddington Central',
 'Creams - Kings Cross',
 'Creams - Kentish Town',
 'SIP UP @ TEMPLE',
 'SIP UP  @ Amison Kiosk - LUDGATE',
 'SIP UP @ 24/7 - Islington',
 'SIP UP @ Tower Hill',
 'SIP UP @ Appleberry Foods - Battersea',
 'SIP UP - Cricklewood',
 'SIP UP @ 24/7  Canary Wharf',
 'SIPUP @ Online Alcohol - Ealing',
 'SIP UP - Greenwich',
 'SIP UP @ Appleberry Foods - Bromley',
 'Chipotle Mexican Grill - St. Martins Lane London',
 'Chipotle Mexican Grill - Baker Street',
 'Bubbleology - Angel',
 'Slim Chickens - Cambridge Circus',
 'Slim Chickens - Brunswick',
 'Five Guys - Piccadilly',
 'Five Guys - Tottenham Court Road',
 'Five Guys - Covent Garden',
 'Five Guys - Charing Cross',
 'Five Guys - Baker Street',
 'Five Guys - Victoria',
 'Five Guys - Kings Cross',
 'Five Guys - Camden',
 'Five Guys - Islington',
 'The Sushi Co - Holborn',
 'The Sushi Co - Kensington',
 'Tops Pizza - Kentish Town',
 'Pizza Express - London - Dean Street',
 'Pizza Express - London - Haymarket',
 'Pizza Express - London - Coptic Street',
 'Pizza Express - London - 450 Strand',
 'Pizza Express - London - Bow Street',
 'Pizza Express - London - Baker Street',
 'Pizza Express - London - High Holborn',
 'Pizza Express - London - Aldwych',
 'Pizza Express - London - Euston Road',
 'Pizza Express - London - Victoria Street',
 'Pizza Express - London - Paddington',
 'Pizza Express - Camden - Parkway',
 'Pizza Express - London - Gloucester Road',
 'Pizza Express - London - Islington',
 'Pizza Express - St Johns Wood - Abbey Road',
 'Pizza Express - London - Notting Hill Gate',
 'Pizza Hut Restaurants - Leicester Square',
 'Pizza Hut Restaurants - Marble Arch',
 'Pizza Hut Restaurants - Strand',
 'Pizza Hut Restaurants - Russell Square',
 "Sticks'n'Sushi - Victoria",
 'Gourmet Burger Kitchen - South Kensington',
 'POKAI - South Kensington',
 'POKAI - Notting Hill',
 'Honi Poke - Upper Street',
 'Honi Sushi - Angel',
 'Mizu Sushi - Angel',
 'Papa Johns - Camden Town',
 'Papa Johns - Maida Vale',
 'Papa Johns - Angel',
 'Smoky Boys',
 'Sushi Shop - South Kensington',
 'Sushi Shop - Notting Hill',
 'Comptoir Libanais - South Kensington',
 'Comptoir Libanais - Gloucester Road',
 'Upper Crust - Euston',
 'Upper Crust - Kings Cross',
 'Upper Crust - Paddington',
 'The Real Greek - Marylebone',
 'The Real Greek - St Martins Lane',
 'The Real Greek - Strand',
 'Kawaii Bowl by Under One Kitchen',
 'Japanified by Under One Kitchen',
 'Sugoi JPN by Under One Kitchen',
 'Coco di Mama Kitchens - Gloucester Arcade',
 'Gordon Ramsay Street Burger - Covent Garden',
 'Macellaio RC - South Kensington',
 'Wimbledon Drinks and Snacks Delivery',
 'CATFORD ALCOHOL VAPES AND CIGAR DELIVERY',
 'TWICKENHAM DRINKS & SNACKS DELIVERY',
 'Twickenham Drinks and Snacks Delivery']

In [184]:
# TEMPORARY CELL

column_names=["RP"]

dfs = pd.DataFrame(s, columns=column_names) # transform resto_name to df

In [185]:
# TEMPORARY CELL

dfs

                                              RP
0                                     Tops Pizza
1      Thunderbird Fried Chicken – Charing Cross
2                            Fresh Gourmet Pizza
3    Chipotle Mexican Grill - Upper St Islington
4                             Iro Sushi - Camden
..                                           ...
586              Macellaio RC - South Kensington
587         Wimbledon Drinks and Snacks Delivery
588     CATFORD ALCOHOL VAPES AND CIGAR DELIVERY
589          TWICKENHAM DRINKS & SNACKS DELIVERY
590        Twickenham Drinks and Snacks Delivery

[591 rows x 1 columns]

In [179]:
dfs = pd.DataFrame(s) # transform resto_name to df

In [168]:
dfs

                                               0
0                                     Tops Pizza
1      Thunderbird Fried Chicken – Charing Cross
2                            Fresh Gourmet Pizza
3    Chipotle Mexican Grill - Upper St Islington
4                             Iro Sushi - Camden
..                                           ...
586              Macellaio RC - South Kensington
587         Wimbledon Drinks and Snacks Delivery
588     CATFORD ALCOHOL VAPES AND CIGAR DELIVERY
589          TWICKENHAM DRINKS & SNACKS DELIVERY
590        Twickenham Drinks and Snacks Delivery

[591 rows x 1 columns]

In [169]:
# Rating Stars

def return_RS(list1):
    a = []
    b = 0
    for i in list1:
        
        if i['IsOpenNowForDelivery'] == True:
            b+=1
            a.append(f"{i['RatingStars']}")
            #b+=1
    print(b)
    return a

In [170]:
rating = return_RS(restaurant_key)

591

In [171]:
rating

['5.4',
 '4.8',
 '4.92',
 '4.08',
 '5.16',
 '4.08',
 '4.2',
 '5.16',
 '4.44',
 '5.16',
 '4.8',
 '3.6',
 '1.56',
 '4.8',
 '4.2',
 '0.0',
 '3.84',
 '4.8',
 '3.84',
 '0.0',
 '4.92',
 '4.56',
 '1.2',
 '4.44',
 '4.08',
 '2.04',
 '4.8',
 '5.76',
 '0.0',
 '4.8',
 '5.04',
 '1.32',
 '4.8',
 '0.0',
 '2.52',
 '6.0',
 '4.44',
 '4.2',
 '5.16',
 '4.68',
 '3.84',
 '4.68',
 '5.04',
 '4.8',
 '5.16',
 '5.04',
 '4.92',
 '4.92',
 '5.04',
 '4.68',
 '5.04',
 '4.56',
 '4.44',
 '4.8',
 '4.56',
 '4.2',
 '3.6',
 '4.8',
 '2.88',
 '4.08',
 '4.8',
 '5.04',
 '4.68',
 '5.04',
 '3.84',
 '4.56',
 '3.72',
 '4.68',
 '5.4',
 '4.32',
 '4.8',
 '4.08',
 '4.68',
 '4.2',
 '5.4',
 '3.72',
 '5.04',
 '4.92',
 '4.44',
 '3.36',
 '5.04',
 '4.68',
 '5.28',
 '4.92',
 '4.32',
 '3.84',
 '3.96',
 '4.92',
 '4.8',
 '5.04',
 '4.08',
 '3.6',
 '4.8',
 '4.8',
 '5.16',
 '5.04',
 '5.04',
 '5.04',
 '4.2',
 '4.92',
 '5.16',
 '4.92',
 '5.16',
 '4.2',
 '5.52',
 '5.16',
 '4.56',
 '4.92',
 '4.92',
 '4.2',
 '4.8',
 '5.04',
 '3.96',
 '4.68',
 '3.6',
 '4.44',
 '3.36',
 '5.64',
 '3.72',
 '5.04',
 '4.68',
 '4.92',
 '4.44',
 '5.16',
 '5.16',
 '3.48',
 '4.44',
 '2.16',
 '5.04',
 '4.92',
 '5.16',
 '5.52',
 '4.32',
 '3.84',
 '3.72',
 '4.8',
 '4.92',
 '4.92',
 '5.16',
 '5.4',
 '4.44',
 '5.16',
 '4.32',
 '2.28',
 '5.04',
 '4.32',
 '5.76',
 '4.68',
 '5.52',
 '4.44',
 '4.92',
 '3.48',
 '1.92',
 '4.68',
 '3.12',
 '3.12',
 '4.56',
 '0.0',
 '4.8',
 '5.04',
 '4.2',
 '5.28',
 '4.8',
 '5.28',
 '5.16',
 '4.2',
 '4.08',
 '3.12',
 '5.28',
 '3.36',
 '4.44',
 '5.28',
 '0.0',
 '5.16',
 '5.04',
 '4.08',
 '4.92',
 '4.92',
 '3.84',
 '5.52',
 '5.4',
 '4.68',
 '4.92',
 '3.84',
 '4.92',
 '4.8',
 '4.68',
 '5.04',
 '4.32',
 '4.68',
 '3.84',
 '4.8',
 '4.92',
 '4.32',
 '5.4',
 '3.96',
 '4.92',
 '4.56',
 '3.96',
 '5.52',
 '5.28',
 '4.92',
 '5.16',
 '4.44',
 '4.08',
 '3.96',
 '3.24',
 '5.16',
 '3.12',
 '4.68',
 '5.04',
 '4.44',
 '5.28',
 '5.04',
 '4.56',
 '4.92',
 '5.76',
 '6.0',
 '5.88',
 '4.92',
 '5.28',
 '0.0',
 '3.6',
 '4.56',
 '5.04',
 '3.72',
 '6.0',
 '3.6',
 '2.76',
 '5.04',
 '0.0',
 '2.04',
 '3.84',
 '5.4',
 '4.32',
 '5.4',
 '5.52',
 '1.8',
 '4.32',
 '5.04',
 '5.16',
 '5.16',
 '4.44',
 '3.72',
 '0.0',
 '4.68',
 '3.0',
 '1.2',
 '6.0',
 '4.92',
 '0.0',
 '4.8',
 '0.0',
 '4.08',
 '4.56',
 '3.72',
 '2.76',
 '0.0',
 '4.92',
 '4.08',
 '4.92',
 '5.76',
 '5.52',
 '5.52',
 '3.24',
 '3.96',
 '5.04',
 '4.56',
 '4.56',
 '5.76',
 '5.52',
 '5.28',
 '2.76',
 '3.84',
 '5.4',
 '5.16',
 '5.28',
 '4.8',
 '5.88',
 '5.52',
 '0.0',
 '5.28',
 '4.08',
 '5.04',
 '0.0',
 '3.96',
 '5.16',
 '4.8',
 '2.76',
 '5.64',
 '5.16',
 '4.92',
 '6.0',
 '0.0',
 '2.64',
 '0.0',
 '5.28',
 '0.0',
 '5.04',
 '4.92',
 '4.56',
 '0.0',
 '0.0',
 '4.92',
 '5.16',
 '5.16',
 '0.0',
 '2.28',
 '0.0',
 '1.2',
 '4.92',
 '4.2',
 '6.0',
 '6.0',
 '5.16',
 '3.84',
 '1.8',
 '3.36',
 '1.68',
 '0.0',
 '6.0',
 '5.76',
 '3.12',
 '6.0',
 '3.72',
 '4.2',
 '0.0',
 '5.28',
 '0.0',
 '5.4',
 '4.68',
 '2.16',
 '1.2',
 '4.8',
 '0.0',
 '6.0',
 '4.2',
 '3.48',
 '1.2',
 '4.08',
 '0.0',
 '4.68',
 '5.4',
 '5.52',
 '0.0',
 '5.28',
 '4.56',
 '4.68',
 '0.0',
 '1.2',
 '5.04',
 '4.08',
 '4.68',
 '5.28',
 '3.24',
 '1.2',
 '4.8',
 '2.16',
 '4.08',
 '5.52',
 '4.32',
 '5.4',
 '0.0',
 '4.8',
 '3.96',
 '3.72',
 '4.32',
 '5.52',
 '5.76',
 '4.92',
 '4.2',
 '4.56',
 '4.56',
 '3.6',
 '3.12',
 '5.28',
 '0.0',
 '3.96',
 '5.16',
 '4.08',
 '3.6',
 '4.8',
 '5.4',
 '4.32',
 '3.96',
 '0.0',
 '4.8',
 '2.64',
 '4.08',
 '0.0',
 '0.0',
 '0.0',
 '6.0',
 '6.0',
 '1.2',
 '5.52',
 '0.0',
 '5.76',
 '0.0',
 '0.0',
 '5.4',
 '3.72',
 '0.0',
 '6.0',
 '0.0',
 '6.0',
 '0.0',
 '5.76',
 '0.0',
 '0.0',
 '0.0',
 '6.0',
 '0.0',
 '2.4',
 '0.0',
 '3.96',
 '0.0',
 '3.24',
 '0.0',
 '3.72',
 '3.96',
 '0.0',
 '1.2',
 '2.76',
 '2.04',
 '1.2',
 '5.4',
 '1.2',
 '1.2',
 '1.92',
 '4.32',
 '6.0',
 '3.12',
 '2.16',
 '2.64',
 '4.08',
 '3.96',
 '4.56',
 '4.08',
 '3.96',
 '4.2',
 '4.2',
 '3.6',
 '3.96',
 '3.84',
 '3.48',
 '4.2',
 '3.36',
 '3.84',
 '3.6',
 '4.44',
 '3.48',
 '4.44',
 '4.8',
 '4.56',
 '4.08',
 '4.68',
 '3.48',
 '4.44',
 '3.6',
 '4.08',
 '3.12',
 '3.84',
 '3.6',
 '3.84',
 '4.32',
 '3.72',
 '4.08',
 '3.12',
 '3.96',
 '3.36',
 '3.48',
 '4.92',
 '4.8',
 '4.32',
 '5.28',
 '4.2',
 '4.08',
 '4.8',
 '4.08',
 '4.68',
 '4.92',
 '5.28',
 '4.44',
 '4.2',
 '4.32',
 '4.08',
 '4.32',
 '4.08',
 '4.32',
 '4.68',
 '1.32',
 '4.8',
 '5.64',
 '3.48',
 '4.08',
 '3.84',
 '3.84',
 '3.96',
 '4.44',
 '3.72',
 '4.32',
 '4.56',
 '4.56',
 '4.68',
 '4.92',
 '1.2',
 '4.08',
 '3.72',
 '4.56',
 '4.56',
 '3.72',
 '4.08',
 '3.12',
 '3.84',
 '3.36',
 '4.56',
 '2.64',
 '3.0',
 '3.36',
 '3.0',
 '4.08',
 '2.16',
 '4.44',
 '3.96',
 '4.44',
 '3.72',
 '3.96',
 '5.16',
 '4.44',
 '5.28',
 '5.16',
 '5.52',
 '4.68',
 '5.16',
 '4.8',
 '4.8',
 '3.84',
 '4.8',
 '4.32',
 '4.2',
 '4.44',
 '4.08',
 '2.64',
 '1.2',
 '3.48',
 '4.8',
 '1.2',
 '3.84',
 '3.96',
 '4.68',
 '4.8',
 '4.2',
 '4.32',
 '4.08',
 '4.8',
 '2.4',
 '3.6',
 '3.84',
 '4.32',
 '5.28',
 '4.32',
 '5.64',
 '3.84',
 '5.16',
 '0.0',
 '1.2',
 '2.16',
 '4.92',
 '5.4',
 '4.68',
 '5.04',
 '4.44',
 '4.56',
 '3.6',
 '3.6',
 '0.0',
 '1.2',
 '4.68',
 '3.24',
 '1.8',
 '6.0',
 '0.0',
 '0.0',
 '3.48',
 '0.0',
 '4.32',
 '0.0',
 '2.88',
 '4.44',
 '3.6']

In [172]:
df_rating = pd.DataFrame(rating) # transform rating stars into df

In [ ]:
# concate all 3 dataframes
# in this order: dfs, df_rating, and df5 /Or df6.copy

In [173]:
len(dfs.index)

591

In [174]:
len(df_rating.index)

591

In [175]:
len(df5.index)

591

In [150]:
frames = [dfs, df_rating, df5]

In [153]:
concat_result = pd.concat(frames)

In [154]:
concat_result

,0,col1.Name,col2.Name
0,Pizza & Chicken Zone,NaN,NaN
1,Chipotle Mexican Grill - Upper St Islington,NaN,NaN
2,Iro Sushi - Camden,NaN,NaN
3,De Milano Pizza,NaN,NaN
4,Chicken Shop - Notting Hill,NaN,NaN
...,...,...,...
587,NaN,Italian,Low Delivery Fee
588,NaN,All Night Alcohol,Alcohol
589,NaN,Groceries,Alcohol
590,NaN,Alcohol,NaN
591,NaN,All Night Alcohol,Alcohol