In [1]:
# disable Zscaler's antivirus if having 401 SSLError

# postcode test E1 7EA and w1b2el and EH25 9AD (Edimburg)

import requests
import json
import pandas as pd

url = "https://uk.api.just-eat.io/restaurants/bypostcode/EH25 9AD"
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36',
    'referer': 'https://fonts.googleapis.com/'
}
result = requests.get(url, headers=headers)
y = json.loads(result.content.decode())

In [2]:
def return_Cuisine(list1):

    c = []
    b = 0
    for i in list1:
        
        if i['IsOpenNowForDelivery'] == True:
            b+=1
            
            c.append(i['Cuisines'])

    print(b)
    return c

In [3]:
restaurant_key = y['Restaurants']

In [4]:
a = return_Cuisine(restaurant_key)

48

In [5]:
df = pd.DataFrame(a) # transform Cuisines to df

In [6]:
df.shape[1]

3

In [7]:
def find_number_of_columns(z, list):
    #x = 0
    y = df.shape[1]
    for column in z:
        #x += 1
        
        if y == 1:
            z = pd.DataFrame(list, columns =['col1'])
            
        if y == 2:
            z = pd.DataFrame(list, columns =['col1', 'col2'])
            
        if y == 3:
            z = pd.DataFrame(list, columns =['col1', 'col2', 'col3'])
        
        if y == 4:
            z = pd.DataFrame(list, columns =['col1', 'col2', 'col3', 'col4'])
        
        if y == 5:
            z = pd.DataFrame(list, columns =['col1', 'col2', 'col3', 'col4', 'col5'])
            
        if y == 6:
            z = pd.DataFrame(list, columns =['col1', 'col2', 'col3', 'col4', 'col5', 'col6'])
            
        if y == 7:
            z = pd.DataFrame(list, columns =['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7'])
    
    return z

In [8]:
df5 = find_number_of_columns(df, a)

In [9]:
json_struct = json.loads(df5.to_json(orient="records"))    
df_flat = pd.json_normalize(json_struct)

In [10]:
print(sorted(df_flat.columns.values)) # keeping to check columns names
print()
print(f"df has {df_flat.shape[1]} columns")

['col1.Name', 'col1.SeoName', 'col2.Name', 'col2.SeoName', 'col3', 'col3.Name', 'col3.SeoName']

df has 7 columns

In [11]:
all_cols_sorted = sorted(df_flat.columns.values)

In [12]:
all_cols_sorted

['col1.Name',
 'col1.SeoName',
 'col2.Name',
 'col2.SeoName',
 'col3',
 'col3.Name',
 'col3.SeoName']

In [13]:
def add_list(liost): 
    df_sorted_keep_2 =[]
    
    df_sorted_keep_2.append(liost[0])
    
    for i in liost:
        if i == "col2.Name":
            df_sorted_keep_2.append(i)
    return df_sorted_keep_2

In [14]:
df_sorted_keep_2first = add_list(all_cols_sorted)

In [15]:
# faire fonction pour garder seulement les colonnes dans df_sorted_keep_2first et virer toutes les autres
cols_to_drop = [i for i in all_cols_sorted if i not in df_sorted_keep_2first]

In [16]:
df5 =df_flat.drop(cols_to_drop,
                    axis=1
                    )

In [17]:
def return_IsDelivering_RS(list1):
    a = []
    b = 0
    for i in list1:
        
        if i['IsOpenNowForDelivery'] == True:
            b+=1
            a.append(f"{i['Name']}")
            #b+=1
    print(b)
    return a

In [18]:
s = return_IsDelivering_RS(restaurant_key)

48

In [19]:
dfs = pd.DataFrame(s) # transform resto_name to df

In [20]:
# Rating Stars

def return_RS(list1):
    a = []
    b = 0
    for i in list1:
        
        if i['IsOpenNowForDelivery'] == True:
            b+=1
            a.append(f"{i['RatingStars']}")
            #b+=1
    print(b)
    return a

In [21]:
rating = return_RS(restaurant_key)

48

In [22]:
df_rating = pd.DataFrame(rating) # transform rating stars into df

In [23]:
dfs = dfs.rename(columns = {0:'Restaurant name'})
df_rating = df_rating.rename(columns = {0:'Stars av.'})
df5 = df5.rename(columns = {"col1.Name":'Spéciality 1', "col2.Name":'Spéciality 2 (or Country)'})

In [24]:
frames = [dfs, df_rating, df5]
result = pd.concat(frames, axis=1)

In [25]:
pd.set_option('display.max_rows', 5000)
print(f"Hi! We have currently {len(dfs.index)} restaurants/groceries opened.")
print("They can't wait to deliver your order at your home or office!!!")
result

Hi! We have currently 48 restaurants/groceries opened.
They can't wait to deliver your order at your home or office!!!

,Restaurant name,Stars av.,Spéciality 1,Spéciality 2 (or Country)
0,McDonald's® - Edinburgh - Straiton,3.48,Burgers,Chicken
1,KFC Edinburgh Straiton,3.48,Chicken,American
2,Co-op - Bonnyrigg,4.68,Groceries,Alcohol
3,Domino's - Penicuik,4.8,Pizza,Chicken
4,Cheeky Chicken,4.68,American,Desserts
5,Cheeky Curry,4.32,Indian,Desserts
6,Costa Coffee - Edin Straiton RP,4.32,Coffee,Breakfast
7,Joy Express,4.8,Chinese,Asian
8,Polish Bites,4.8,Kebab,Wraps
9,Mario's,5.16,Fish & Chips,Pizza
10,Pias Pizzeria,3.96,Italian,Fish & Chips
11,Greenwell Grocers,0.0,Groceries,Alcohol
12,Dino's,5.16,Pizza,Fish & Chips
13,Londis - Lothianburn,3.96,Groceries,Alcohol
14,Day Today,4.32,Groceries,Alcohol
15,Burger King - Straiton,3.84,Burgers,Chicken
16,Premier - Gilmerton Grocers,5.4,Groceries,Alcohol
17,Biryani Boys,3.84,Indian,Biryani
18,Starbucks - Edinburgh - Straiton RP,5.16,Breakfast,Coffee
19,Subway - Straiton,2.88,Sandwiches,Lunch
20,Toby Carvery - Liberton,3.6,British,Carvery
21,Marmaris Family Kebab House,4.44,Kebab,Pizza
22,Sweet Paradice Desserts,5.4,Desserts,Milkshakes
23,Rosewell Fryer,5.52,Fish & Chips,Pizza
24,Bell Bottom,4.8,Indian,Vegan
25,Merdos Pizza Fish Bar And Kebab House,5.52,Kebab,Pizza
26,Slumdog Delivered,4.92,Indian,Asian
27,Iceland (Food Warehouse) - Straiton,4.08,Groceries,Alcohol
28,Slumdog Delivered,4.8,Indian,Curry
29,Farmhouse Inns - Elginhaugh Farm (Midlothian),4.2,British,Carvery
30,Sofia's @ The Salisbury Boutique Hotel,5.28,Burgers,Middle Eastern
31,Premier,3.48,Groceries,Alcohol
32,Scotmid Co-op - Gracemount,5.52,Groceries,Low Delivery Fee
33,Asia Banquet,5.64,Chinese,Oriental
34,Spar - Gilmerton,0.0,Groceries,Alcohol
35,ASDA Café - Straiton Edinburgh,3.72,Breakfast,Café
36,Panku - Asda - Straiton,4.44,Asian,Sushi
37,Premier Dalkeith Superstore,3.0,Groceries,Alcohol
38,Co-op - Bridge Road - Edinburgh,5.04,Groceries,Alcohol
39,Co-op - Danderhall,5.16,Groceries,Alcohol
40,Costa Coffee Tesco Edin Colinton,4.2,Coffee,Breakfast
41,Londis - Slateford,4.56,Groceries,Alcohol
42,Londis - Napier,4.56,Groceries,Alcohol
43,Premier - Drum Street,5.52,Groceries,Alcohol
44,Subway - Biggar Road,4.2,Sandwiches,Lunch
45,Iceland - Gilmerton,4.92,Groceries,Alcohol
46,Iceland - Juniper Green,4.56,Groceries,Alcohol
47,Scotmid Co-op - Colinton,4.2,Groceries,Low Delivery Fee