In [1]:
# disable Zscaler's antivirus if having 401 SSLError

# postcode test E1 7EA and w1b2el and EH25 9AD (Edimburg)

import requests
import json
import pandas as pd

url = "https://uk.api.just-eat.io/restaurants/bypostcode/M24 2HT"
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36',
    'referer': 'https://fonts.googleapis.com/'
}
result = requests.get(url, headers=headers)
y = json.loads(result.content.decode())

In [2]:
def return_Cuisine(list1):

    c = []
    b = 0
    for i in list1:
        
        if i['IsOpenNowForDelivery'] == True:
            b+=1
            
            c.append(i['Cuisines'])

    print(b)
    return c

In [3]:
restaurant_key = y['Restaurants']

In [4]:
a = return_Cuisine(restaurant_key)

33

In [5]:
df = pd.DataFrame(a) # transform Cuisines to df

In [6]:
df.shape[1]

4

In [7]:
def find_number_of_columns(z, list):
    #x = 0
    y = df.shape[1]
    for column in z:
        #x += 1
        
        if y == 1:
            z = pd.DataFrame(list, columns =['col1'])
            
        if y == 2:
            z = pd.DataFrame(list, columns =['col1', 'col2'])
            
        if y == 3:
            z = pd.DataFrame(list, columns =['col1', 'col2', 'col3'])
        
        if y == 4:
            z = pd.DataFrame(list, columns =['col1', 'col2', 'col3', 'col4'])
        
        if y == 5:
            z = pd.DataFrame(list, columns =['col1', 'col2', 'col3', 'col4', 'col5'])
            
        if y == 6:
            z = pd.DataFrame(list, columns =['col1', 'col2', 'col3', 'col4', 'col5', 'col6'])
            
        if y == 7:
            z = pd.DataFrame(list, columns =['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7'])
    
    return z

In [8]:
df5 = find_number_of_columns(df, a)

In [9]:
json_struct = json.loads(df5.to_json(orient="records"))    
df_flat = pd.json_normalize(json_struct)

In [10]:
print(sorted(df_flat.columns.values)) # keeping to check columns names
print()
print(f"df has {df_flat.shape[1]} columns")

['col1.Name', 'col1.SeoName', 'col2', 'col2.Name', 'col2.SeoName', 'col3', 'col3.Name', 'col3.SeoName', 'col4', 'col4.Name', 'col4.SeoName']

df has 11 columns

In [11]:
all_cols_sorted = sorted(df_flat.columns.values)

In [12]:
all_cols_sorted

['col1.Name',
 'col1.SeoName',
 'col2',
 'col2.Name',
 'col2.SeoName',
 'col3',
 'col3.Name',
 'col3.SeoName',
 'col4',
 'col4.Name',
 'col4.SeoName']

In [13]:
def add_list(liost): 
    df_sorted_keep_2 =[]
    
    df_sorted_keep_2.append(liost[0])
    
    for i in liost:
        if i == "col2.Name":
            df_sorted_keep_2.append(i)
    return df_sorted_keep_2

In [14]:
df_sorted_keep_2first = add_list(all_cols_sorted)

In [15]:
# faire fonction pour garder seulement les colonnes dans df_sorted_keep_2first et virer toutes les autres
cols_to_drop = [i for i in all_cols_sorted if i not in df_sorted_keep_2first]

In [16]:
df5 =df_flat.drop(cols_to_drop,
                    axis=1
                    )

In [17]:
def return_IsDelivering_RS(list1):
    a = []
    b = 0
    for i in list1:
        
        if i['IsOpenNowForDelivery'] == True:
            b+=1
            a.append(f"{i['Name']}")
            #b+=1
    print(b)
    return a

In [18]:
s = return_IsDelivering_RS(restaurant_key)

33

In [19]:
dfs = pd.DataFrame(s) # transform resto_name to df

In [20]:
# Rating Stars

def return_RS(list1):
    a = []
    b = 0
    for i in list1:
        
        if i['IsOpenNowForDelivery'] == True:
            b+=1
            a.append(f"{i['RatingStars']}")
            #b+=1
    print(b)
    return a

In [21]:
rating = return_RS(restaurant_key)

33

In [22]:
df_rating = pd.DataFrame(rating) # transform rating stars into df

In [23]:
dfs = dfs.rename(columns = {0:'Restaurant name'})
df_rating = df_rating.rename(columns = {0:'Stars av.'})
df5 = df5.rename(columns = {"col1.Name":'Spéciality 1', "col2.Name":'Spéciality 2 (or Country)'})

In [24]:
frames = [dfs, df_rating, df5]
result = pd.concat(frames, axis=1)

In [25]:
pd.set_option('display.max_rows', 5000)
print(f"Hi! We have currently {len(dfs.index)} restaurants/groceries opened.")
print("They can't wait to deliver your order at your home or office!!!")
result

Hi! We have currently 33 restaurants/groceries opened.
They can't wait to deliver your order at your home or office!!!

,Restaurant name,Stars av.,Spéciality 1,Spéciality 2 (or Country)
0,Popeye's Pizzeria,4.68,Pizza,Kebab
1,Big Bite,4.32,Curry,Pizza
2,Palatable Pizza,5.64,Pizza,Burgers
3,McDonald's® - Oldham Broadway,3.48,Burgers,Chicken
4,Caspian Pizza,5.52,Pizza,Kebab
5,The Ben Chippy,4.8,Fish & Chips,Kebab
6,Zam Zams,5.52,Indian,Pizza
7,Londis - Greengate,4.32,Groceries,Alcohol
8,Chicken Cottage - Middleton,3.96,Chicken,Peri Peri
9,The Dark Kitchen,4.32,Kebab,Indian
10,Lali's Pizza,5.52,Pizza,Kebab
11,Royton Pizza,5.28,Italian,Pizza
12,Papa Johns - Manchester - Prestwich,3.0,Pizza,American
13,Roma & Shakes,4.68,Pizza,Desserts
14,Bar on Wheels,5.28,Groceries,Alcohol
15,Cake Away Desserts & Milkshakes,1.8,Cakes,Desserts
16,DA Shop@ COSTCUTTER - WORCESTER ROAD,3.6,Groceries,Alcohol
17,Palermo Pizza,4.2,Italian,Pizza
18,"Cakeaway Burgers, Desserts and Shakes",1.56,Burgers,Desserts
19,Rancher Food Box,3.6,Chicken,Burgers
20,TDK Burgers & Kebabs,3.96,Burgers,Kebab
21,Savour-It,4.08,Burgers,Indian
22,Palatable Cake & Shake,5.76,Milkshakes,Ice Cream
23,Liquor Land House,5.64,Groceries,Alcohol
24,SIP UP @ Ardwick Manchester,2.52,Groceries,Alcohol
25,ARDWICK DRINKS AND SNACKS DELIVERY,4.32,All Night Alcohol,Alcohol
26,Warrington Drinks & Snacks Delivery,2.88,Groceries,Alcohol
27,Londis - Crumpsall,3.96,Groceries,Alcohol
28,SIP UP - Worsley Salford,1.92,Groceries,Alcohol
29,SIP UP - Trafford Park Manchester,2.64,Groceries,Alcohol
30,MANCHESTER DRINKS AND SNACKS DELIVERY,3.84,All Night Alcohol,Alcohol
31,TRAFFORD ALCOHOL DELIVERY,2.64,All Night Alcohol,Groceries
32,"WARRINGTON ALCOHOL ,VAPES & SNACKS DELIVERY",4.8,Alcohol,NaN